body{
	background-color:darkslateblue ;
	font-family: sans-serif;
}
.containerPadre{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.container{
	background-color: white;
	padding: 20px;
	border-radius: 10px 15px;
}
button{
	color: white;
	background-color: gold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 8px 15px;
}
h2{
	color: darkslateblue;
	text-align: center;
}
ul{
	list-style:none;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.lista-canciones {
    list-style: none;
    padding: 0;
}

.fila-cancion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.info-cancion {
    flex: 1;
    padding-right: 20px; 
}

.btn-eliminar {
    background-color: gold;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
}
.btn-eliminar:hover{	
	background-color: darkslateblue;
}
